body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.boxOne {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #f9faf8;
}

.headerLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.headerOne {
    width: 50%;
    display: flex;
    justify-content: start;
    padding-left: 10%;
}

.link {
    text-decoration: none;
}

.link:active, .link:visited {
    color: #f9faf8;
}

.link:hover {
    color: greenyellow;
}

.boxTwo {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    color: #f9faf8;
    background-color: #1F2937;
    padding-top: 3%;
    padding-bottom: 3%;
}

.twoTwo {
    width: 25%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color:grey;
}

.btnsignUp {
    background-color: #3882F6;
    border-radius:5px;
    padding: 5px 15px 5px 15px;
    color: #f9faf8;
    border-width: 0;
    cursor: pointer;
}

h1 {
    font-size: 46px;
    margin: 0;
    font-weight: 900;
}

.twoSub {
    width: 50%;
    font-size: 18px;
}

.boxThree {
    width: 50%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.threeOne {
    padding-bottom: 8%;
}

.threetwo{
    display: flex;
    justify-content: space-evenly;
}

.containers>img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 5px;
}


.boxFour{
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb; ;
}

.fourOne{
    padding: 5% 25% 5% 25%;
    font-style: italic;
}

.fourOne>h3{
    font-size: 36px;
    font-weight: lighter;
}

.fourOne>p {
    width: 100%;
    display: grid;
    justify-content: end;
}

.boxFive {
    width: 50%;
    background-color: #3882F6;
    margin: 5% 5% 5% 5%;
    padding: 1%;
    border-radius: 5px;
    color: #e5e7eb;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    justify-items: center;
}

.fiveButton>button {
    background-color: #3882F6;
    padding: 4px;
    border-radius: 5px;
    border-color: #f9faf8;
    color: #f9faf8;
    cursor: pointer;
}

.boxSix {
    width: 100vw;
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
}

